*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e6ecf0;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
 input, button{
     outline: 0;
 }
.nav-img{
    width: 28px;
    height: 28px;
}
.logo-img{
    width: 34px;
    height: 34px;
}
.header-avatar{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0 15px;
}


header#main-header{
    background: #fff;
    height: 46px;
    box-shadow: 0 1px 1px rgba(0, 0,0, 0.25);
    position: relative;
    z-index: 1;
}

header#main-header .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#main-header nav ul{
    display: flex;
    list-style: none;
    margin-top: 5px;
    
}
header#main-header nav ul li{
    display: flex;
    align-items: center;
    font-size: 13px;
    color:#667580;
    font-weight: bold;
    margin-left: 30px;
}

header#main-header nav ul li img{
    margin-right: 7px;
}

header#main-header div.side-bar{
    display: flex;
    margin-top: 5px;
}
header#main-header div.side-bar input{
    width: 220px;
    background: #f5f8fa;
    border: 1px solid #e6ecf0;
    height: 34px;
    border-radius: 16px;
    padding: 0 12px;
    color: #667581;
    font-size: 12px;
}
header#main-header div.side-bar button{
    background: #667580;
    color: #fff;
    width: 90px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    border-radius: 16px;
    border: 0;
    margin-right: 7px;
}

div.banner{
    width: 100%;
    height: 380px;
    background: #667580;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

div.bar{
    height: 59px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0,0, 0.25);
}
div.bar .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 350px;
    height: 100%;
}
div.bar .content ul{
    list-style: none;
    display: flex;
    height: 100%;
   
}
div.bar .content ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    justify-content: center;
    position: relative;
}
div.bar .content ul li.active::after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left:0;
    background-color: #667581;
}

div.bar .content ul li span{
    font-size: 16px;
    color:#667581;
    font-weight: bold;
}
div.bar .content ul li strong{
    font-size: 18px;
    color:#667580;
    font-weight: bold;
    margin-top: 2px;
}
div.action img{
    width: 24px;
    height: 24px;
}

div.bar .content .action{
    display: flex;
    align-items: center;

}

div.bar .content .action button{
    color: #667580;
    width: 90px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #667580;
    border-radius: 16px;
    margin-right: 20px;
}
div.bar .content .action img{
    margin-right: 10px;
}

div.wrapper-content{
    display: flex;
}

div.wrapper-content aside.profile{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

div.wrapper-content aside.profile img.avatar{
    border-radius: 50%;
    width: 190px;
    height: 190px;
    border: 5px solid #fff;
    margin-top: -120px;
}

div.wrapper-content aside.profile h1{
    font-size: 21px;
    color: #1f2226;
    margin-top: 10px;
}
div.wrapper-content aside.profile span{
    font-size: 14px;
    color: #53626c;
}
div.wrapper-content aside.profile p{
    font-size: 14px;
    color: #1f2226;
    margin-top: 10px;
}
div.wrapper-content aside.profile ul{
    list-style: none;
    margin-top: 20px;
}
div.wrapper-content aside.profile ul.list li{
    font-size: 16px;
    color: #1f2226;

    display: flex;
    align-items: center;
    margin-top: 5px;

}
div.wrapper-content aside.profile ul.list li:first-child{
    margin: 0;
}
div.wrapper-content aside.profile ul.list li img{
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

div.wrapper-content aside.profile div.widgets strong{
    font-weight: normal;
    font-size: 16px;
    color: #1f2226;
    display: flex;
    align-items: center;
}
div.wrapper-content aside.profile div.widgets strong img{
    width: 24px;
    height: 24px;
    margin-right: 7px;
}
div.wrapper-content aside.profile div.widgets{
    margin-top: 20px;

}

div.wrapper-content aside.profile div.followers ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

div.wrapper-content aside.profile div.followers ul li{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #667580;
    flex-shrink: 0;
    flex-grow: 1;
    margin-right: 15px;
    margin-top: 5px;
    flex: 1 0 auto;

}
div.wrapper-content aside.profile .images ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

div.wrapper-content aside.profile .images ul li{
width: 80px;
height: 80px;
background: #667580;
border-radius: 8px;
flex-shrink: 0;
margin: 0 5px 10px 0;
flex: 1 0 auto;
}

div.wrapper-content .timeline{
    flex: 1;
    background: #fff;
    margin: 20px 20px 0;
}

div.wrapper-content .timeline nav{
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
}

div.wrapper-content .timeline nav a{
     text-decoration: none;
     color: #667581;
     font-size: 18px;
     font-weight: bold;
     margin-left: 20px;
}

div.wrapper-content .timeline nav a:first-child{
    margin: 0;
}

div.wrapper-content .timeline nav a:active{
    color: #1f2226;
}

div.wrapper-content .timeline ul.tweets {
    list-style: none ;
}
div.wrapper-content .timeline ul.tweets li{
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
    display: flex;
}
div.wrapper-content .timeline ul.tweets li > img{
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
div.wrapper-content .timeline ul.tweets li .info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
div.wrapper-content .timeline ul.tweets li .info strong{
    font-size: 14px;
    color: #1f2226;
}
div.wrapper-content .timeline ul.tweets li .info strong span{
    font-weight: normal;
    font-size: 13px;
    color: #667580;
    margin-left: 5px;
}
div.wrapper-content .timeline ul.tweets li .info p{
    font-size: 14px;
    color: #1f2226;
    margin-top:5px;
    margin-bottom: 7px;
}
div.wrapper-content .timeline ul.tweets li .actions{
    display: flex;
}
div.wrapper-content .timeline ul.tweets li .actions a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1f2226;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
}
div.wrapper-content .timeline ul.tweets li .actions a img{
    margin-right: 5px;
}
div.wrapper-content aside.widgets{
    width: 320px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 20px;
}

div.wrapper-content aside.widgets .widget{
    background: #fff;
    padding: 15px;
}

div.wrapper-content aside.widgets .widget .title{
    display: flex;
    align-items: baseline;
}

div.wrapper-content aside.widgets .widget .title strong{
    font-size: 18px;
    color:#1f2226;
}

div.wrapper-content aside.widgets .widget .title a{
    text-decoration: none;
    color: #53626c;
    font-size: 14px;
    position: relative;
    padding-left: 10px;
}

div.wrapper-content aside.widgets .widget .title a::before{
    content: "";
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #222;
    position: absolute;
    left: 4px;
    top: 6px;
}

div.wrapper-content aside.widgets .follow ul {
    list-style: none;
    margin-top: 20px;
}

div.wrapper-content aside.widgets .follow ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #667580;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
div.wrapper-content aside.widgets .follow ul li:last-child{
    border-bottom: 0;
    margin-bottom: 0;
    border: 0;
}

div.wrapper-content aside.widgets .follow ul li .profile{
    display: flex;
    align-items: center;
}

div.wrapper-content aside.widgets .follow ul li .profile img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
div.wrapper-content aside.widgets .follow ul li .profile .info{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong{
    font-size: 18px;
    color: #1f2226;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong span{
    font-weight: normal;
    color: #667580;
}

div.wrapper-content aside.widgets .follow ul li .profile .info button{
    height: 27px;
    margin-top: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    font-weight: bold;
    font-size: 16px;
    color: #1f2226;
    border: 1px solid #667581;
    border-radius: 16px;

}

div.wrapper-content aside.widgets .follow ul li > a{
    color: #667581;
    text-decoration: none;
    font-size: 14px;
}
div.wrapper-content aside.widgets div.widget-trends{
    width: 320px;
    background: #fff;
    padding-left: 20px;
}

div.wrapper-content aside.widgets div.widget-trends strong{
    font-size: 18px;
    color: #1f2226;
}

div.wrapper-content aside.widgets div.widget-trends ul {
    list-style: none;
}
div.wrapper-content aside.widgets div.widget-trends ul li {

    font-size: 16px;
    padding-bottom: 4px;
}
div.wrapper-content aside.widgets div.widget-trends ul li:first-child{
    margin-top: 10px;
}
